*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/* inico del encabezado */

.CONTENEDOR{
    padding: 60PX O;
    width: 90%;
    max-width: 1000PX;
    margin: auto;
    overflow: hidden;
}

.TITULO{
    COLOR: #862;
    font-size: 30PX;
    text-align: center;
    margin-bottom: 60PX ;
    justify-content: center;
}

header{
    width: 100%;
    height: 700PX;
    background:linear-gradient(120deg, #d5fc795b 0%, #96e6a150 100%);background-image: linear-gradient(120deg, #d5fc795b 0%, #96e6a163 100%), url(../imagenes/TC_1.jpg);
    background-size: COVER;
    background-attachment: fixed;
    position: relative;
}

nav{
    text-align: right;
    padding: 30PX 50PX 0 0;

}

nav > A {
    color: antiquewhite;
    font-weight: 500;
    text-decoration: none;
    margin-right: 10PX;
}

nav > A:hover {
    text-decoration: overline;
    
}

.WAVE{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.CONTENEDOR-SOBRE-NOSOTROS{
    display: flex;
    justify-content: space-evenly;
}

.TEXTOS-HEADER{
    font-size: 50PX;
    color: #FFF;
    display: flex;
    height: 500PX;
    width: 100%;
    align-items: CENTER;
    justify-content: center;
    flex-direction: column;
   

}

.TEXTOS-HEADER H2{
    font-size: 30PX;
    font-weight: 300;
    color: #FFF;
    display: flex;
    align-items: CENTER;
    justify-content: center;
}